@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CallTechNet</title>
</head>
<body>
    <div>
        call complete in @ViewBag.duration seconds
    </div>
</body>
</html>
