USE [master]
GO
/****** Object:  Database [ShowMeSomethingNew]    Script Date: 10/12/2013 10:26:27 PM ******/
CREATE DATABASE [ShowMeSomethingNew]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShowMeSomethingNew', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\ShowMeSomethingNew.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShowMeSomethingNew_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\ShowMeSomethingNew_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShowMeSomethingNew].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShowMeSomethingNew]
GO
/****** Object:  Table [dbo].[TableOfContent]    Script Date: 10/12/2013 10:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TableOfContent](
	[SiteId] [bigint] IDENTITY(1,1) NOT NULL,
	[SiteName] [varchar](max) NOT NULL,
	[URL] [varchar](800) NOT NULL,
	[TopSiteId] [bigint] NULL,
 CONSTRAINT [PK_TableOfContent] PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_URL] UNIQUE NONCLUSTERED 
(
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/12/2013 10:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 10/12/2013 10:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[UserId] [bigint] NOT NULL,
	[SiteId] [bigint] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TableOfContent]  WITH CHECK ADD  CONSTRAINT [FK_TableOfContent_TableOfContent] FOREIGN KEY([TopSiteId])
REFERENCES [dbo].[TableOfContent] ([SiteId])
GO
ALTER TABLE [dbo].[TableOfContent] CHECK CONSTRAINT [FK_TableOfContent_TableOfContent]
GO
USE [master]
GO
